<component name="ProjectRunConfigurationManager">
  <configuration default="false" name="SpringBoot2" type="Application" factoryName="Application">
    <envs>
      <env name="server.port" value="8081" />
      <env name="spring.profiles.active" value="app2" />
    </envs>
    <option name="MAIN_CLASS_NAME" value="com.bosonit.formacion.ej12.kafka.Application" />
    <module name="ej12.1-kafka" />
    <method v="2">
      <option name="Make" enabled="true" />
    </method>
  </configuration>
</component>