<component name="ProjectRunConfigurationManager">
  <configuration default="false" name="SpringBoot" type="Application" factoryName="Application">
    <option name="MAIN_CLASS_NAME" value="com.bosonit.formacion.ej6.pathvariableheaders.Application" />
    <module name="ej6.3-path-variable-headers" />
    <method v="2">
      <option name="Make" enabled="true" />
    </method>
  </configuration>
</component>