<component name="ProjectRunConfigurationManager">
  <configuration default="false" name="Spring" type="Application" factoryName="Application">
    <option name="MAIN_CLASS_NAME" value="com.bosonit.formacion.Ejercicio_FactoryBean.EjercicioFactoryBeanApplication" />
    <module name="Ejercicio_FactoryBean" />
    <method v="2">
      <option name="Make" enabled="true" />
    </method>
  </configuration>
</component>